nav.sidebar, .main{
    border-radius: 0;
}

.main{
    padding: 10px 10px 0 10px;
}

.sbox {
    padding: 5px 0;
}

#my-listing-blocks {
    margin-top: -35px;
}
#my-listing-blocks .pagination {
    width: 100%;
}

.my-listing-blocks {
    list-style: none;
    padding: 5px 0 0 10px;
}

.summary-ap-image {
    float: left;
    width: 160px;
}

.summary-ap-description {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.my-listing-blocks-item .ap-paid-services {
    float: left;
    width: 32px;
    position: relative
}

.my-listing-blocks-item .ap-paid-services div.paid_row_no, .my-listing-blocks-item .ap-paid-services div.paid_row {
    /*display: inline;*/
    /*width: 32px;
    height: 32px;
    padding: 0 0 0 1px;*/
}

.summary-ap-description .ap-summary-info {
    float: left;
    width: 93%;
    position: relative
}

.summary-ap-description .title {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    float: none;
    text-align: left;
    font-size: 22px;
}

.summary-ap-description .summary_info_row {
    display: block;
    width: 100%;
    padding: 5px 0;
    line-height: 21px;
}

.summary-ap-description .actions {
    display: block;
    width: 200px;
}

.summary-ap-description .summary_info .summaryApImage {
    min-width: 170px;
    min-height: 110px;
}

.summary-ap-description .summary_info_row .currency {
    color: #000;
}

.summary-ap-description .summary_info .col-sm-12 {
    padding-left: 0 !important;
}

.custom-dropdown-my-listing-manage {
    position: relative;
    float: left;
}

.custom-dropdown-my-listing-paid-services {
    position: relative;
    float: left;
    margin-right: 15px;
}

.my-listing-warning, .my-listing-warning a, .my-listing-warning a:hover {
    font-size: 16px;
    font-weight: 700;
    color: #8a1f11;
    margin: 5px 0;
}

.my-listing-warning a, .my-listing-warning a:hover {
    text-decoration: underline;
}

#search-listview-button, #search-listview-button:hover, #search-listview-button:visited, #search-listview-button:focus {
    color: #fff;
    text-decoration: none;
}

.search-my-listings-form {
    margin-top: 10px;
    margin-bottom: 55px;
}

.my-listings-button-search {
    border: 0;
    font-size: 14px;
    padding: 5px 10px;
}

.button-save-row {
    padding: 0 0 10px 17px;
}

.block-afree-to-user-afreement {
    margin-bottom: 5px;
}

.references_view ul.apartment-description-ul{padding-left: 20px; }

.item-small-block-rating {
    color: #fff;
    width: 65px;
    text-align: center;
}
.item-small-block-rating .item-rating-grade {
    font-size: 22px;
}
.item-small-block-rating .item-view-all-comments {
    font-size: 16px;
}
.item-small-block-rating .item-view-all-comments a {
    color: #fff;
}

@media (max-width:991px) {
    .usercpanel-nav .navbar-nav>li>a {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    
    .usercpanel-nav a{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
}


@media (min-width: 765px) {

    .main{
        position: absolute;
        width: calc(100% - 40px);
        margin-left: 0px;
        float: right;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    nav.sidebar a{
        padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    nav.sidebar{
        width: 100%;
        height: 100%;
        margin-left: 0px;
        float: left;
        margin-bottom: 0px;
    }

    nav.sidebar li {
        width: 100%;
    }

    nav.sidebar:hover{
        margin-left: 0px;
    }

    .forAnimate{
        opacity: 0;
    }
}

@media (min-width: 1330px) {

    .main{
        width: calc(100% - 200px);
        margin-left: 0px;
    }

    nav.sidebar{
        margin-left: 0px;
        float: left;
    }

    nav.sidebar .forAnimate{
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate{
    opacity: 1;
}
section{
    padding-left: 15px;
}