@media only screen and (max-width:1199px) {
    .apartment_item .photo_count span {
        display: none;
    }
    .change_color_block{display: none;}
    .top_menu .navbar-nav>li>a{
        padding: 0px 10px;
        font-size: 13px;
    }
    .logo {
  
    }
    .main_menu{
      
    }
    .main_menu .navbar-nav>li:first-child{
        margin-left: 0px;
    }
    .main_menu .navbar-nav>li:last-child{
        margin-right: 0px;
    }
    .main_menu .navbar-nav>li{
        margin: 0px 5px;
    }
    .main_menu .navbar-nav>li>a{
        font-size: 13.4px;
    }
    .item .compare{
        width: 65%;
    }
    .item .compare a{
        font-size: 11px;
    }
    .item .photo_count {
        width: 35%;
        font-size: 11px;
    }
    .feature_block .col-md-4{
        min-height: 375px;
    }
    .logo_footer{
        width: 100%
    }
    .contact_footer{
        width: 100%;
        margin-top: 15px;
    }

    .tab_header .nav-tabs>li a{
        font-size: 13px;
        padding: 0px 20px;
        line-height: 40px;
        margin-top: 2px;
    }

    .add_block {
        margin-top: 2px;
    }

    .add_block .btn-primary {
        min-height: 38px;
        line-height: 38px;
    }
}



@media only screen and (max-width:991px) {
    #block_btn {
        margin: 30px auto 0px;
    }

    #sticker {
        margin: 20px -15px 0 -15px;

    }

    #comparison_top a {
        width: 44px;
        overflow: hidden;
    }

    #sticker .menu_sidebar {
        display: none;
    }
    .header_bottom {
        min-height: 200px;
    }
}



@media screen and (max-width:972px) {
    .short_desc {
        /*display: none;*/
        height: auto;
    }
	.catalog.block .item_teaser_content {
		height: auto;
	}
    .apartment_item .photo_count span {
        display: none;
    }
    div#ore-ads-block div {width:100%;}
}


@media screen and (max-width: 800px) {
    div#ore-ads-block {
        height: 190px;
        text-align: center;
        position: inherit;
        margin-bottom: 5px;
        opacity: 1;
    }
    div#ore-ads-block ul {
        padding-right: 7px;
    }
    div#ore-ads-block li {
        width: 100%;
    }
    div#ore-ads-block .btn {
        width:100%;
        box-sizing: border-box;
    }
    div#ore-ads-block .ads-block-about, 
    div#ore-ads-block .ads-block-contact, 
    div#ore-ads-block .item-login, 
    div#ore-ads-block .item-login-admin-panel {
        width: 45%;
        min-width: 120px;
    }
    div#ore-ads-block .ads-block-contact,
    div#ore-ads-block .item-login-admin-panel {
        padding-right: 0;
        float: right;
    }
        
    div#ore-ads-block .ads-block-change-theme, 
    div#ore-ads-block .ads-block-additional-view,
    div#ore-ads-block .ads-block-change-template select{
        width: 45%;
        min-width: 120px;
    }
    
    div#ore-ads-block .ads-block-change-template select,
    div#ore-ads-block .ads-block-additional-view select
    {
        width: 100%;
        min-width: 120px;
    }
    
    div#ore-ads-block .ads-block-additional-view {
        padding-right: 0;
        float: right;
    }
    div#ore-ads-block .button, div#ore-ads-block .button-bevel {
        padding: 2px 3px;
        font-size: 14px;
    }
    div#ore-ads-block ul li {
        margin-bottom: 5px;
        padding-right: 0px;
    }
    
    div#ore-ads-block .ads-block-change-template select, 
    div#ore-ads-block .ads-block-change-theme select, 
    div#ore-ads-block .ads-block-additional-view select {
        vertical-align: top;
        max-width: unset;
        height: 22px;
        font-size: 12px;
    }
	
    #ap-view-table-list table.items {
        border: 0;
    }

    #ap-view-table-list table, #ap-view-table-list thead, #ap-view-table-list tbody, #ap-view-table-list th, #ap-view-table-list td, #ap-view-table-list tr {
        display: block;
    }

    #ap-view-table-list thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #ap-view-table-list tr {
        border: 1px solid #ccc;
        margin-top: 5px;
    }

    #ap-view-table-list td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 30%;
        overflow: hidden;
        white-space: normal !important;
    }

    #ap-view-table-list td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 24%;
        padding-right: 10px;
        white-space: nowrap;
        overflow: hidden;
    }

    #ap-view-table-list table .ap-view-table-photo,
    #ap-view-table-list table .ap-view-table-type,
    #ap-view-table-list table .ap-view-table-title,
    #ap-view-table-list table .ap-view-table-address,
    #ap-view-table-list table .ap-view-table-obj-type,
    #ap-view-table-list table .ap-view-table-square,
    #ap-view-table-list table .ap-view-table-price {
        text-align: left; /*height: 30px;*/
        height: auto;
        padding-top: 3px;
        min-height: 20px;
    }

    #ap-view-table-list table .ap-view-table-photo { /*height: 50px; */
    }

    #ap-view-table-list table .ap-view-table-address { /*height: 50px; */
    }
}


@media only screen and (max-width:780px) {
    .full_property .col-md-3{
        order:1;
    }
    .full_property .col-md-9{
        order:2;
    }    
    #search_tab {
        display: none;
    }

    .full_property .properties_list, .full_property .agent_info, .promotion-paidservices-in-apartment, .qrcode_block{
        width: 48%;
        float: left;
        margin: 0px 1% 2%;
    }
    .properties_list.box.widget, .box.widget.agent_info{
        min-height: 392px;
    }
    .agent_info{
        margin: 0px 10px;
    }
    .sidebar_left .news_block{
        display: none;
    }
    #block_btn_inner{
        clear: both;
        text-align: center;

    }
    .search_inner .search_btn{
        width: auto;
        min-width: 210px;
    }
    .search_inner hr{
        display: none;
    }
    .footer_bl3 .btn{
        min-width: 190px;
        font-size: 13px;
    }

    .feature_block .col-md-4{
        min-height: 375px;
    }
    .popular-block{
        min-height: auto;
    }
    .main_menu .navbar-nav>li>a{
        font-size: 14px;
    }
    .main_menu .navbar-nav>li{
        padding: 0px 0px;
    }
    .menu-toggle {
        display: block;
    }

    .logo.col-md-3{
        width: 30%;
        float: none;
        margin: 0px auto 15px;
    }
    .navbar-collapse.collapse{
        padding: 0px;
    }
    .main_menu{

    }
    .top_menu .navbar-toggle{
        display: block;
    }
    .right_top_block{
        padding-bottom: 13px;
    }
    .wrapper_feature{
        padding: 0px 10px;
    }
    .footer_content .list-unstyled {
        float: left;
        padding-left: 44px;
    }
}


@media only screen and (max-width:768px) {
    .logo_footer .logo-text{
        min-width: 240px;
        font-size: 13px;
    }
    .logo-text{
        min-width: 330px;
        font-size: 20px;
    }
    .right_top_block .currency_block {margin-bottom: 5px;}
    .right_top_block .language_block {margin-bottom: 5px;}

    #feedbackForm{
        height: auto;
        left: 0px;
        top: 0px;
        position: relative;
        margin-top: 30px;
        width: 100%;
    }

    .additional_hidden_fields > div:first-child { height: 90px !important;}
    
    .summary-ap-description .ap-paid-services {
        display: none;
    }
    
    #my-listing-blocks {margin-top: 10px;}
    
    .navbar-nav {
        margin-left: 5px !important;
    }
}


@media only screen and (max-width:480px) {
    .logo_footer .logo{
        /*--margin-bottom: 30px;*/
        /*++*/
        margin-bottom: 70px;
        /*++*/
    }
    .logo_footer .logo-text span {
        color: #fff;
        font-size: 20px;
        text-align: left;
    }
    .full_property .col-md-9{
        width: 100%;
    }
    .full_property .properties_list, .full_property .agent_info, .promotion-paidservices-in-apartment, .qrcode_block{
    height: auto;
    width: 100%;
    margin: 0px 0px 15px;
    }
    .full_property .properties_list, .full_property .agent_info, .promotion-paidservices-in-apartment{
        width: 100%;
        float:none;
    }
    .agent_info{
        margin: 0px;
    }
    .logo.col-md-3{
    width: 210px;
    }
    .logo_footer, .footer .navbar-nav>li>a{
        text-align: center;
    }
    .contact_footer{
        width: auto;
        display: table;
        margin: 0px auto 0px;
    }
    .footer .col-md-4{
        margin-bottom: 30px;
    }
    .footer_bottom div{
        text-align: center !important
    }
    .footer_bl3 .footer_content{
        width: 150px;
        margin: 0px auto;
    }
    .footer .h_line{
        display: table;
        margin: 0px auto 15px;
    }
    .map_block{
        margin-bottom: 0px;
    }
    .userForm .btn-default{
        width: 100%;
    }

    .feature_block .col-md-4{
        min-height: auto;
    }
    .item .compare, .item .photo_count{
        width: 100%;
        float:none;
    }
    .item .compare a{
        font-size: 13px;
        width: 100%;
    }
    #hot_tabs_link{
        margin-bottom: 0px;
    }
    #hot_tabs_link.nav-tabs>li a{
        line-height: 16px;
        height: 58px;
        padding: 14px 10px;        
    }
    .slider--wide .slider__img--lg{
        display: block;
    }
    .slider--wide .slider__img img {
        min-height: 250px;
    }
    #block_btn li, .search_btn, .more_search{
        width: 100%
    }
    .search_btn, .more_search{
        margin-bottom: 10px;
    }
    #block_btn{
        margin: 0px auto;
    }
    #search-form label{
        font-size: 14px;
    }
    .header_top .dropdown-item, .dropdown-menu a {
        font-size: 15px;
        padding: 8px 20px;
    }
    .header_top .dropdown-menu{
        width: 100%;
    }
    .right_top_block{
        float:none;
        width: 100%;
    }
    .right_top_block .col-md-3 {
        width: 100%;
        margin-bottom: 10px;
    }
    .personal_cabinet .dropdown-toggle, .white_select .dropdown-toggle{
        width: 100%
    }
    .mobilemenu .nav, .mobilemenu .nav > li{
        margin: 0px;
    }
    .mobile-button{
        float:none;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .header_bottom{
        /*--background: url(../assets/images/header_bg.jpg) no-repeat 0px -90px;
        min-height: 190px;*/
        /*++*/
        background: url(../images/header_bg.jpg) bottom !important;
        min-height: 230px !important;
        background-size: cover !important;
        background-color: var(--main-blue) !important;
        background-blend-mode: overlay !important;
        /*++*/
    }
    .tab_header .container{
        display: flex;
        flex-flow: wrap;
    }
    #search_tab{
        order:2;
    }
    .add_block{
        float: none;
        order: 1;
        /*--margin: 0px auto 10px;*/
        /*++*/
        margin: 10px auto 10px;
        /*++*/
        display: table;
    }
    #search_tab{
        margin-right: 0px;
        float:none;
    }
    .tab_header .nav-tabs>li{
        width: 50%;
        margin: 0px 0px 4px;
        text-align: center;
    }
    .tab_header .nav-tabs>li.active a:before{
        display: none;
    }
    .footer_content .list-unstyled {
        float: none;
        padding-left: 0;
    }
    
    .width450,
    .width460,
    .width500,
    .width960 {
        width: auto;
    }
}

@media only screen and (max-width:360px) {
    .additional-add-listing .btn:nth-child(2),
    .my-listing-blocks-item .custom-dropdown-my-listing-manage{
        margin-top: 5px;
    }
    
    div#ore-ads-block .item-login-admin-panel .button{
        font-size: 13px;
    }
}
