/*++*/
:root {
    --main-golden: #f3cb6a;
    --main-light-golden: #f2da74;
    --main-blue: #0A183f;
    --main-mid-blue: #303e59;
    --main-light-blue: #0d96cf;
    --main-white: #ffffff;
}
/*++*/

body, html {
    height: 100%;
    direction: ltr;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    transition: background-color .2s linear;
    background: #f3f3f3;
    width: 100%;
}
 
a{

}
.clear, .clr{clear: both;height: 0px; padding: 0px; margin:0px; border:0px solid;}
.slow {
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}
.btn{
    border-radius: 0px;
    font-size: 14px;
    line-height: 40px;
    min-height: 40px;
    padding: 0px 12px;
}
.header_top{
    /*background: #426288;*/
    /*++*/
    background: var(--main-blue);
    /*++*/
}
a {
    /*--color: #43b3dd;*/
    /*++*/
    color: var(--main-light-blue);
    /*++*/
    text-decoration: underline;
}
body.orange .header_top{
    background:#ec971f 
}
body.green .header_top{
    background:#83bb5d;
}
body.violet .header_top{
    background: #805ba1;
}
.top_menu .navbar{
padding: 0px;
    margin-bottom: 0px;
    border: 0px;
    min-height: 34px;
    border-radius: 0px;
}
.top_menu .navbar-nav>li>a{
    color: #fff;
    line-height: 68px;
    font-size: 14px;
    text-decoration: none;
    padding: 0px 15px;
}
.top_menu .navbar-nav>li{
    margin: 0px 1px;
}
.top_menu .nav .open>a, .top_menu .nav .open>a:focus, .top_menu .nav .open>a:hover,
.top_menu .nav>li>a:focus, .top_menu .nav>li>a:hover{
    /*--background: #43b3dd;*/
    /*++*/
    background: var(--main-light-blue);
    /*++*/
}
.top_menu .navbar-nav>li.active>a{
    text-decoration: underline;
    /*--background: #43b3dd;*/
    /*++*/
    background: var(--main-light-blue);
    /*++*/
}
.header_bottom{
min-height: 338px;
padding-top: 25px;
}
.main_menu .navbar{
    border:0px solid;
    background: transparent;
}
.main_menu .navbar-nav>li>a{
    font-size: 15px;
    text-transform: uppercase;
    /*--color: #3b4c76;*/
    /*++*/
    color: var(--main-golden);
    /*++*/
    padding: 2px 0px;
    text-decoration: none;
    font-weight: bold;
}
.main_menu .nav .open>a, .main_menu .nav .open>a:focus, .main_menu .nav .open>a:hover{
background: transparent;
}
.main_menu .navbar-nav>li{
margin: 0px 10px;
}
.main_menu .navbar-nav>li.active>a{
    /*--color: #43b3dd;
    border-bottom: 1px solid #43b3dd;*/
    /*++*/
    color: var(--main-light-blue);
    border-bottom: 1px solid var(--main-light-blue);
    /*++*/
}
.main_menu .navbar-nav>li>a:hover{
    /*color: #43b3dd;*/
    /*++*/
    color: var(--main-light-blue);
    /*++*/
    background: transparent;
}
.main_menu{
   
    display: table;
    margin: 10px auto 0px;
    float: none;
    width: auto;
}
.logo{
    /*++*/
    margin-bottom: 70px;
    /*++*/
}
div.logo-img {
    float: left;
}
.logo .logo-text, .logo_footer .logo-text{
  
}
.logo a{
    text-decoration: none;
    display: inline-block;
    height: 70px;
}
.logo a:hover .logo-text{
    /*--color:#43b3dd;*/
    /*++*/
    color: var(--main-light-blue);
    /*++*/
}
.logo-text {
    font-size: 20px;
    color: #4c78ab;
    line-height: 90px;
    font-weight: 900;
    min-width: 330px;
    text-transform: uppercase;
    white-space: nowrap;
}
.logo a:hover span{
    opacity: .8;
}
.logo_footer .logo-text {
    color: #fff;
    min-width: 250px;
    font-size: 16px;
}
.personal_cabinet .dropdown-toggle{
    /*background: #43b3dd;
    border-color: #43b3dd;*/
    /*++*/
    background: var(--main-light-blue);
    border-color: var(--main-light-blue);
    /*++*/
    color: #fff;
}
.header_top .dropdown-menu{
border:0px;
border-radius: 0px;
}
.header_top .dropdown-item, .dropdown-menu a{
    font-size: 13px;
    border-bottom: 1px solid #ebf0f7;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active,  .show>.btn-secondary.dropdown-toggle{
    /*--background: #e5b229;
    border-color:#e5b229;*/
    /*++*/
    background: var(--main-golden);
    border-color: var(--main-golden);
    /*++*/
}
.white_select .dropdown-toggle{
    background: #fff;
    border-color: #fff;
    color: #666;
}
.right_top_block{
float: right;
    padding-top: 13px;
    width: auto;
}
.right_top_block .col-md-3{
    width: auto;
}
.change_color_block {

}
.change_color_block .btn{
    line-height: 22px;
    min-height: 22px;
    border: 0px;
    margin: 0px 5px;
    padding: 0px 5px;
}
.change_color_block .fa-check{
font-size: 12px;
}

.change_color_block .btn .fa-check {
    opacity: 0;
}
.change_color_block .btn.active .fa-check {
    opacity: 1;
}
#change_color{
    padding: 10px;
    background: #fff;
}
.btn-info{
    background: #805ba1;
    border-color:#805ba1;
}
.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info, .btn-info:hover,
.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover{
        background: #774f9b;
    border-color:#774f9b;
}
.btn-primary{
    background: #426288;
    border-color:#426288;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn-primary:hover,
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, 
.btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
        background: #385a82;
    border-color:#385a82;
}

.btn-warning{
    background: #dca847;
    border-color:#dca847;
}
.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning, .btn-warning:hover,
.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, 
.btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover{
    background:#d59e39;
    border-color:#d59e39;
}
.btn-success{
    background: #83bb5d;
    border-color:#83bb5d;
}
.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success, .btn-success:hover,
.btn-success.active.focus, .btn-success.active:focus, .btn-warning.active:hover, .btn-success:active.focus, .btn-success:active:focus, 
.btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover{
        background: #78b54f;
    border-color:#78b54f;
}

.btn-primary{
    /*--border-color: #e5b229;
    background-color: #e5b229;*/
    /*++*/
    background-color: var(--main-golden);
    border-color: var(--main-golden);
    /*++*/
    color:#262626;
    text-decoration: none;
}
.btn-primary:hover{
    /*--background: #43b3dd;
    border-color:#43b3dd;*/
    /*++*/
    background: var(--main-light-blue);
    border-color: var(--main-light-blue);
    /*++*/
    color:#fff;
}


.search_index{
    margin-top: -58px;
}

.search_content{
    /*--background: rgba(66, 98, 136, 0.9);*/
    /*++*/
    background: var(--main-blue);
    /*++*/
    padding: 30px 0;
}
.sidebar_left .search_content{
padding: 30px;
}
#search_tab{
border: 0px solid;
    float: left;
    margin-right: 6px;
}
.add_block{
    margin-top: 7px;
    float: left;
    /*++*/
    border: var(--main-light-golden) solid 1px;
    /*++*/
}

.add_block .btn-primary{
    /*--border-color: #e5b229;*/
    /*++*/
    border-color: var(--main-golden);
    /*++*/
    color: #484a4d;
    font-weight: bold;
    /*--background: #e5b229;*/
    /*++*/
    background: var(--main-golden);
    /*++*/
    font-size: 12px;
    letter-spacing: .5px;
    text-transform: uppercase;
}
.add_block .btn-primary:hover{
    /*background-color: #43b3dd;
    border-color:#43b3dd;*/
    /*++*/
    background-color: var(--main-light-blue);
    border-color: var(--main-light-blue);
    /*++*/
    color:#fff;
}
#search_form .form-control{
border-radius: 0px 0px 0px 0px;
border:0px solid;
min-height: 42px;
}

#search-form label{
    color:#fff;
    font-size: 12px;
    font-weight: normal;
}
#search-form .form-control[disabled], #search-form fieldset[disabled] .form-control{
    background-color: #e0e0e0;
}
#block_btn{
    display: table;
    margin: 10px auto 0px;
}
.search_btn, .more_search{
    font-size: 17px;
    font-weight: 900;
    padding: 5px 30px;
}
.btn-default.more_search{
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-weight: 100;
}
.btn-default.more_search:hover{
    background-color: rgba(255,255,255,.1);
    border-color:#fff;
    color:#fff;
}
.content {
    background-color:#fff;
}
.main_content {
    margin-top: 30px;
    padding: 30px;
    position: relative;
    z-index: 9;
}
.box-content{

}
.box-header{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    /*--border-bottom: 3px solid #e5b229;*/
    /*++*/
    border-bottom: 3px solid var(--main-golden);
    /*++*/
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.box{
    margin-bottom: 30px;
}
.widget.box{
    background: #f9f9f9;
    padding: 20px;
}
.popular-block img{
    max-width: 100%;
}
.item-popular{
    margin-bottom: 8px;
}
.popular-block .city_name>a{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    color:#426288;
}
.popular-block a{
    text-decoration: underline;
    font-size: 13px;
}
.popular-block a:hover{
    text-decoration: none;
}

h1,.h1, h2,.h2, h3,.h3{
    font-weight: 900;
    text-transform: uppercase;
}
h1,.h1{
    font-size: 22px;
}
h2,.h2{
    font-size: 20px;
}
h3,.h3{
    font-size: 18px;
}

.h_line{
    /*--border-bottom: 3px solid #e5b229;*/
    /*++*/
    border-bottom: 3px solid var(--main-golden);
    /*++*/
    display: table;
    margin: 20px auto 20px;
    padding-bottom: 8px;
}
.h_line_in{
    /*--border-bottom: 3px solid #e5b229;*/
    /*++*/
    border-bottom: 3px solid var(--main-golden);
    /*++*/
    margin-bottom: 15px;
    padding-bottom: 8px;
    display: inline-block;
}
#hot_tabs_link{
    display: table;
    margin: 0px auto 20px;
    border-bottom: 0px;
}
#object_tabs{
    border-bottom: 0px;
}
#hot_tabs_link.nav-tabs>li a{
    font-size: 15px;
    text-transform: inherit;
    font-weight: 100;
    line-height: 44px;
    letter-spacing: 0px;
}

.tab_header .nav-tabs>li a{
    line-height: 58px;
    text-decoration: none;
    color:#fff;
    /*--background-color: #2e4d73;*/
    /*++*/
    background-color: var(--main-mid-blue);
    /*++*/
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0px 30px;
    border:0px;
    border-radius: 0px 0px 0px 0px;
}
.tab_header  .nav-tabs>li.active>a, .tab_header  .nav-tabs>li.active>a:focus, .tab_header  .nav-tabs>li.active>a:hover,
.tab_header .nav-tabs>li a:hover{
    border:0px solid;
    /*background-color: #43b3dd;*/
    /*++*/
    background-color: var(--main-light-blue);
    /*++*/
    color:#fff;
}

.tab_header .nav-tabs>li.active a:before {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    bottom: -7px;
    left: 40%;
    position: absolute;
    /*--border-top: 7px solid #43b3dd;*/
    /*++*/
    border-top: 7px solid var(--main-light-blue);
    /*++*/
    z-index: 10;
}

.tab_header  .nav-tabs>li{
    margin:0px 2px 0px 0px;
}

#block_btn{
    display: table;
    margin: 10px auto 0px;
}
.search_btn, .more_search{
    font-size: 17px;
    font-weight: 900;
    padding: 5px 30px;
}
.btn-default.more_search{
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-weight: 100;
}
.btn-default.more_search:hover{
    background-color: rgba(255,255,255,.1);
    border-color:#fff;
    color:#fff;
}
.content {
    background-color:#fff; 
}
.main_content {
    margin-top: 30px;
    padding: 30px;
    position: relative;
    z-index: 9;
}
.box-content{

}
.box-header{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    /*--border-bottom: 3px solid #e5b229;*/
    /*++*/
    border-bottom: 3px solid var(--main-golden);
    /*++*/
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.box{
    margin-bottom: 30px;
}
.widget.box{
    background: #f9f9f9;
    padding: 20px;
}
.popular-block img{
    max-width: 100%;
}
.popular-block .city_name>a{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    color:#426288;
}
.popular-block a{
    text-decoration: underline;
    font-size: 13px;
}
.popular-block a:hover{
    text-decoration: none;
}
.popular-block{
    min-height: 516px;
}
h1,.h1, h2,.h2, h3,.h3{
    font-weight: 900;
    text-transform: uppercase;
}
h1,.h1{
    font-size: 22px;
}
h2,.h2{
    font-size: 20px;
}
h3,.h3{
    font-size: 18px;
}

.h_line{
    /*--border-bottom: 3px solid #e5b229;*/
    /*++*/
    border-bottom: 3px solid var(--main-golden);
    /*++*/
    display: table;
    margin: 20px auto 20px;
    padding-bottom: 8px;
}
.h_line_in{
    /*--border-bottom: 3px solid #e5b229;*/
    /*++*/
    border-bottom: 3px solid var(--main-golden);
    /*++*/
    margin-bottom: 15px;
    padding-bottom: 8px;
    display: inline-block;
}
#hot_tabs_link{
    display: table;
    margin: 0px auto 20px;
    border-bottom: 0px;
}
#hot_tabs_link.nav-tabs>li a{
font-size: 15px;
    text-transform: inherit;
    font-weight: 100;
    line-height: 44px;
    letter-spacing: 0px;
}

/* @noflip */
.item-slider {
    position: relative;
    display: block;
    width: 100%;
    height: 280px;
    overflow: hidden;
}
/* @noflip */
.item-slider-image {
position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0;
    transform: translate(-50%, -50%);
}
/* @noflip */
.item-slider-list,
.item-slider-more {
    top: 0;
    left: 0;
    position: absolute;
    bottom: 0;
    right: 0
}
/* @noflip */
.item-slider-item:hover .item-slider-image,
.item-slider:not(:hover) .item-slider-item:first-child .item-slider-image {
    opacity: 1
}
/* @noflip */
.item-slider-list {
    z-index: 2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: opacity .3s
}
/* @noflip */
.item-slider-item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end
}

.item:hover .item-slider-item::after {
    display: block
}
/* @noflip */
.item-slider-item:hover .item-slider-more {
    display: -ms-flexbox;
    display: flex
}

.item-slider-item:hover::after {
    /*--background-color: #e5b229!important*/
    /*++*/
    background-color: var(--main-golden);
    /*++*/
}
/* @noflip */
.item-slider-item::after {
    content: '';
    display: none;
    width: 100%;
    height: 3px;
    margin: 0 1px 2px;
    background-color: rgba(255, 255, 255, .9);
    transition: background-color .3s
}

.item-slider:not(:hover) .item-slider-item:first-child::after {
    background-color: #0af
}
/* @noflip */
.item-slider-more {
    z-index: -1;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5)
}
/* @noflip */
.item-slider-video-icon {
    position: absolute;
    left: 5px;
    bottom: 8px;
    pointer-events: none;
    z-index: 2;
    font-size: 12px;
    color: #fff
}
/* @noflip */
.item-slider-list, .item-slider-more {
    top: 0;
    left: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.item-photo{
    max-width: 100%;
}
.item_teaser{
    background-color: #f4f4f4;
}
.item_teaser_content{
    padding: 20px;
    overflow: hidden;
}
.catalog .item_teaser_content{
    padding: 20px 0px;
}
.catalog.block .item_teaser_content{
    padding: 20px 20px;
    height: 285px;
}
.hot_block_content .item_teaser_content{
    height: 285px;
}
.catalog.block .photo_block, .hot_block_content .photo_block{
    position: relative;
}
.item{
    background: #f4f4f4;
    /*margin-top: 30px;*/
}
.title_item{
font-weight: bold;
    overflow: hidden;
    min-height: 48px;
    font-size: 17px;
    line-height: 1.3em;
    margin-bottom: 15px;
}
.title_item a {
    /*--color:#2e4d73;*/
    /*++*/
    color: var(--main-mid-blue);
    /*++*/
    text-decoration: none;
}
.title_item a:hover{
    /*--color:#43b3dd;*/
    /*++*/
    color: var(--main-light-blue);
    /*++*/
}
.item .fas, .item .fab{
    color: #c4c4c4;
    margin-right: 3px;
}
.item ul li{
margin-bottom: 5px;
}
.item  strong{
    font-weight: 600;
}
.price{
    /*--color: #e5b229;*/
    /*++*/
    color: var(--main-golden);
    /*++*/
    font-weight: 900;
    font-size: 16px;
}
.item .compare{
    /*--background: #43b3dd;*/
    /*++*/
    background: var(--main-light-blue);
    /*++*/
    line-height: 44px;

    width: 60%;
}
.item .compare a{
    color:#fff;
    font-size: 13px;
    text-decoration: none;
}
.item .photo_count{
    background-color: #294569;
    color: #fff;
    width: 40%;
    line-height: 44px;
    font-size: 13px;
}
.compare_block i.fas, .compare_block i.fab{
color:#fff;
}
.hot_block_content .item:hover{
    background:#456182; 
}
.hot_block_content .item:hover .title_item a, .hot_block_content .item:hover{
    color:#fff;
}
.hot_block_content .item:hover .fas, .hot_block_content .item:hover .fab{
    color:#eee;
}
.hot_block_content{

}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.feature_block{
    padding-top: 60px;
    padding-bottom: 90px;
    margin-bottom: -90px;
    margin-top: -50px;
    color: #fff;
    text-align: center;
}
.wrapper_feature{
    padding: 0px 50px;
    margin-bottom: 30px;
}
.feature_block .h_line{color:#fff;}
.feature_block .col-md-4{
    background: rgba(41,69,105,0.65);
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 325px;
}
.feature_block .col-md-4.darker{
    background: rgba(41,69,105,0.85);
}
.feature_block .h4{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.3em;
    margin-bottom: 30px;
    font-weight: 100;
}
.feature_block .icon{
margin-bottom: 30px;
}
.feature_block .icon img{

}
.feature_block p{
    margin: 0px;
    font-weight: 100;
}
.feature_block .slogan_text{
margin-bottom: 30px;
    font-size: 18px;
    font-weight: 100;
    text-shadow: 0px 0px 80px #000;
}
.feature_block .btn-primary{

}
.btn-default{
    color: #fff;
    /*--border-color: #43b3dd;*/
    /*++*/
    border-color: var(--main-light-blue);
    /*++*/

    text-decoration: none;
    font-size: 15px;
    /*--background: #43b3dd;*/
    /*++*/
    background: var(--main-light-blue);
    /*++*/
}
.btn-default:hover{
    /*--border-color:#e5b229;
    background: #e5b229;*/
    /*++*/
    background: var(--main-golden);
    border-color: var(--main-golden);
    /*++*/
}
.item_news .h5{
    line-height: 1.3em;
    font-weight: bold;
}
.item_news .date_news{
    color: #a2a2a2;
    margin-left: 10px;
    font-weight: 100;
    font-size: 11px;
    font-style: italic;
}
.img_news{
    position: relative;
}
.img_news img{
    width: 100%;
}
.tags{
    position: absolute;
    bottom: 10px;
    margin: 0px;
    padding: 0px 10px;
}
.tags li{
    padding: 0px 2px;
}
.tags a{
    color: #333;
    background: rgba(255,255,255,.9);
    padding: 2px 10px 3px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 9px;
}
.img_news a:hover img{
    opacity: .9
}

.map_block{
margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
}

.userForm{
    background: #426288;
     padding: 15px;

}
#feedbackForm{
    position: absolute;
    padding: 10px 30px;
    top: -30px;
    left: 30px;
    height: 460px;
    width: 460px;
    z-index: 1100;
}
.userForm .h_line{color:#fff;}

.userForm  .form-control{
    border:0px;
    border-radius: 0px;
}
#feedbackForm .form-control{
    height: 44px;
}

#feedbackForm textarea.contact-textarea-guest{
    height: 60px;
}
#feedbackForm textarea.contact-textarea-user{
    height: 120px;
}
.userForm .btn-default{
font-weight: bold;
}
.footer{
    /*--background: #426288;*/
    /*++*/
    background: var(--main-blue);
    /*++*/
    color: #fff;
    padding-top: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
}
.footer_bottom{
    /*--background: #375981;*/
    /*--color: #fff;*/
    /*++*/
    background: var(--main-golden);
    color: var(--main-blue);
    /*++*/
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer_bottom a{
    color:#fff;
}
.footer_bottom a:hover{
    /*--color:#43b3dd;*/
    /*++*/
    color: var(--main-light-blue);
    /*++*/
}
.footer .h_line{
    color: #fff;
    text-align: left;
    margin-top: 0px;
    display: inline-block;
}
.footer .navbar-nav>li{
    float:none;
}
.footer .navbar-nav>li>a{
    color:#fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer .navbar-nav>li>a:before{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    padding-right: 5px;
    top: 1px;
    line-height: 1;
    position: relative;
    color: #2f4e73;
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    content: "\f0da";
}
.footer .navbar-nav>li:hover>a:before{
    /*--color:#43b3dd;*/
    /*++*/
    color: var(--main-light-blue);
    /*++*/
}
.about_product{
    margin-top: 15px;
}
.footer .nav>li>a:focus, .footer .nav>li>a:hover{
    background: #375981;

}
.footer_bl3 li{
    margin-bottom: 10px;
}
.footer_bl3 .btn{
    min-width: 210px;
    color: #fff;
    font-weight: 600;
    line-height: 44px;
    position: relative;
    height: 44px;
    text-align: left;
    text-transform: uppercase;
}
.footer_bl3 .btn:before{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    position: absolute;
    left: -44px;
    top: -1px;
    line-height: 1;
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    content: "\f0a1";
    background: #4a8eb9;
    line-height: 44px;
    width: 44px;
    text-align: center;
}
.footer_bl3 .plus .btn:before{
content: "\f067";
background: #d6a319;
}
.footer_bl3 .btn:hover {
    background: #4a8eb9;
    border-color:#4a8eb9;
}
.footer_bl3 .btn.btn-primary:hover {
    background: #d6a319;
     border-color:#d6a319;
}
.footer_bl3 .lk .btn:before{
    content: "\f007";
}
.footer_bl3 .btn i{

}



.header-toggle{
  display: none
}
.menu-toggle {
  display: none;
    position: relative;
    z-index: 999;

    width: 20px;
    margin-top: 0px;
    float: left;
    height: 45px;
    padding: 0px 30px;
    border: none;
    cursor: pointer;
}
.menu-toggle:hover{

}
.menu-toggle span {
    position: absolute;
    left: 8px;
    height: 3px;
    cursor: pointer;
    background: #eee;
    width: 66%;
}
.menu-toggle .hamb-bottom {
top: 32px;
    -webkit-transition: all .35s ease-in-out;
}
.menu-toggle .hamb-top {
    top: 10px;
    -webkit-transition: all .35s ease-in-out;
}
.menu-toggle .hamb-middle {
    top: 50%;
    margin-top: -2px;
}
.menu-toggle:hover .hamb-top {
    top: 7px;
    -webkit-transition: all .35s ease-in-out;
}
.menu-toggle:hover .hamb-bottom {
    top: 35px;
    -webkit-transition: all .35s ease-in-out;
}
.nav-open .menu-toggle .hamb-top, .nav-open .menu-toggle .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.nav-open .menu-toggle .hamb-top, .nav-open .menu-toggle .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.nav-open .menu-toggle .hamb-middle {
    display: none;
}
.nav-open .menu-toggle .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.nav-open .menu-toggle .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}


.side-nav {
position: fixed;
    z-index: 1002;
    top: 0;
    bottom: 0;
    left: -240px;
    width: 240px;
    background: #666;
    padding: 30px 0px;
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.mobilemenu {
    background-color: #334c69;
    border: 0px;
}
.mobile-button {
    float: left;
    color: #fff;
    padding: 0px 15px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 68px;
    border-radius: 0px;
    /*--background: #43b3dd;*/
    /*++*/
    background: var(--main-light-blue);
    /*++*/
    cursor: pointer;
}
.mobilemenu .navbar-nav>li{
    float: none;
    border-bottom: 1px solid #2a4564;
}
.mobilemenu .nav{
    float:none;
}
.mobilemenu .navbar-nav>li>a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
}





.mobile-button span{
    font-weight: bold;
    text-transform: uppercase;
}
.mobilemenu .navbar-collapse {
    padding: 0;
    box-shadow: 0px 0px 0px;
    display: block;
}
.mobilemenu .nav > li > a, .mobilemenu .nav > li > .list-group-submenu li > a {
    position: relative;
    display: block;
    padding: 15px 20px;
}
 
.mobilemenu .nav > li > .list-group-submenu li a > .chevrond {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 9px;
    height: 100%;
    width: 40px;
    text-align: center;
    border-left: 1px solid #ddd;
    padding: 0;
}
.mobilemenu .nav > li > .list-group-submenu li a > .chevrond, .mobilemenu .nav > li a > .chevrond {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 9px;
    height: 100%;
    width: 40px;
    text-align: center;
    border-left: 1px solid #0d4156;
    padding: 0;
}
.mobilemenu .nav > li > .list-group-submenu {
    background-color: #27415e;
}
.mobilemenu .chevrond .fa.off, .mobilemenu .chevrond.hided .fa.on {
    display: none;
}
 
.mobilemenu .chevrond .fa.on, .mobilemenu .chevrond.hided .fa.off {
    display: inline-block;
    margin: 0;
    font-size: 8px;
}

.mobilemenu .navbar-nav > li > .list-group-submenu li a > .chevrond > i, .mobilemenu .nav > li a > .chevrond > i {
    line-height: 48px;
    text-align: center;
}

.mobilemenu .nav, .mobilemenu .nav > li {
    float: none;
    position: relative;
}
.mobilemenu .nav > li {
    border-bottom: 1px solid #284260;
    margin-left: 0px;
}
.mobilemenu .nav > li > .list-group-submenu li{
    border-bottom: 1px solid #203957;
    border-radius: 0px;
}
.mobilemenu .nav > li a{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 0px;
    letter-spacing: 1px;
    text-decoration: none;
}
.mobilemenu .nav > li.open>a, .mobilemenu .nav > li:focus>a, .mobilemenu .nav > li:hover>a{
    /*background: #43b3dd;*/
    /*++*/
    background: var(--main-light-blue);
    /*++*/
}
.mobilemenu .nav > li > .list-group-submenu li a{
    font-weight: normal;
    font-size: 15px;
    padding: 10px 40px 10px;
}
.mobile-button .fa-bars{
line-height: 60px;
    padding: 0px 5px;
    color: #fff;
}
/* @noflip */
.owl-carousel.owl-theme{
padding: 0px 20px;
}
/* @noflip */
.owl-carousel .owl-nav .owl-prev,  .owl-carousel .owl-nav .owl-next{
    font-size: 15px;
    background: #426288;
    color: #fff;
    position: absolute;
    top: 80px;
 }
 /* @noflip */
 .owl-theme .owl-nav [class*=owl-]:hover{
    /*background: #43b3dd;*/
     /*++*/
     background: var(--main-light-blue);
     /*++*/
 }
 /* @noflip */
 .owl-nav .owl-prev{
  left: -20px;
}
/* @noflip */
 .owl-nav .owl-next {
    right: -20px;
}
/* @noflip */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #426288;
}
/* @noflip */
.sidebar_left .h3.h_line{
    margin-top: 0px;
}
.sidebar_left .search_inner .h_line{
    color:#fff;
}
.search_inner hr{
    border-color:#304f76;
}
.search_inner #block_btn li{
margin-bottom: 10px;
}
.search_inner .search_btn, .search_inner .more_search{
    width: 100%
}
.sorter_link{
    margin-bottom: 0px;
}
.btn-light{
    background: #f4f4f4;
    color: #666;
    border: 1px solid #ddd;
}
.sorter_link label{
    font-weight: 100;
    text-transform: uppercase;
}
#result_property{
    text-transform: uppercase;
}
.pagination{
     border-radius: 0px;
    margin: 0px;
}
.pagination>li>a, .pagination>li>span{
    border-radius: 0px;
    padding: 0px 15px;
    color: #666;
    line-height: 38px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background: #f4f4f4;
    color:#666;
    border-color:#ddd;
}
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 0px;
}
.change_list_show{
float: right;
}
.change_list_show a{
color: #bfbfbf;
    font-size: 20px;
    border-radius: 3px;
    border: 1px solid #ddd;
    display: inline-block;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
}
.change_list_show a:hover, .change_list_show li.active a{
border-color:#9a9a9a;
color:#9a9a9a;
}
.catalog .item .photo_block{
padding-left: 0px;
}
.compare_item{
    bottom: 20px;
    position: absolute;
    right: 15px;
    padding: 0px;
    z-index: 99;
}
.catalog.block .compare_item{
    right:0px;
}
.compare_item a{
    /*--background: #43b3dd;*/
    /*++*/
    background: var(--main-light-blue);
    /*++*/
    display: inline-block;
    line-height: 44px;
    width: 44px;
    text-align: center;
    font-size: 15px;


}
.compare_item a:hover{
    /*--background: #e5b229;*/
    /*++*/
    background: var(--main-golden);
    /*++*/
}
.compare_item a i.fas{
    color:#fff;
}
.hot_label{
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    letter-spacing: .2px;
    left: 0px;
    /*--background: #e5b229;*/
    /*++*/
    background: var(--main-golden);
    /*++*/
    padding: 9px 10px;
    font-weight: 900;
    font-size: 10px;
    z-index: 9;
    color:#333;
}
.full_property .hot_label, .full_property .compare_item{
    position: relative;
    top: inherit;
    left: inherit;
    right: inherit;
    bottom: inherit;
}
.full_property .compare_item a{
    width: auto;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 12px;
    line-height: 34px;
    font-weight: bold;
}
.full_property .hot_label{
    padding: 0px 12px;
    line-height: 34px;
    font-size: 11px;
    letter-spacing: 0px;
    font-weight: bold;
}
.full_property .hot_label i.fab{
    margin-right: 5px;
}
.hot_label i.fab{
    color:#333;
}
/*.pagination-bottom{
    margin-top: 30px;
}*/
.sidebar_left .item_news{
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.h_line.title_property{
display: inline-block;
text-align: left;
margin: 0px 0px 15px;
}
.full_property .properties_list i{
color:#c4c4c4;
}
.user_link li{
    margin-bottom: 5px;
}
.user_link .btn{
    width: 100%;
    text-transform: uppercase;
}
.additional li:before{
    display: inline-block;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f058";
    color: #1eb10a;
    padding-right: 6px;
}
.item_comment{
border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.item_comment .h4.comment_avtor{
    margin-top: 0px;
    font-weight: bold;
}
.item_comment .date{
    font-size: 11px;
    color: #c4c4c4;
    font-style: italic;
}
.owl-similar .photo_block{
    position: relative;
}
.similar_block .item{
    margin-top:0px;
}
.similar_block .owl-carousel{
    padding: 0px 30px;
}
/* @noflip */
.similar_block .owl-carousel .owl-nav .owl-prev, .similar_block .owl-carousel .owl-nav .owl-next{
top:235px;
}
.properties_list .h3.h_line{

}
.inner_page .header_bottom{
    background-position: center -50px;
    min-height: 230px;
}
.inner_page .content.main_content{
    /*--margin-top: -90px;*/
}
.inner_page .content.main_content.custom_search_main_content {
    margin-top: 0px;
}
.custom_search_inner_top {
    margin-top: -58px;
}


.property_info{
    width: 50%;
}

/*calendar style*/
#datepicker3{
    width: 80%;
}
#booking_calendar .ui-widget.ui-widget-content{
    width: 100% !important;
    padding: 15px 0px;
}
#booking_calendar .ui-datepicker-multi .ui-datepicker-group{
    padding: 0px 15px;
}
#booking_calendar .datepicker--nav{
    /*--background: #2e4d73;*/
    /*++*/
    background: var(--main-mid-blue);
    /*++*/
    color: #fff;
    border: 0px solid;
    font-weight: 900;
    font-size: 16px;
    padding: 10px 0px !important;
    text-transform: uppercase;
}
#booking_calendar .datepicker--cell-day.-other-month-, #booking_calendar .datepicker--cell-year.-other-decade-{
    background: transparent;
}
#booking_calendar .datepicker--nav-action:hover, #booking_calendar  .datepicker--nav-title:hover{
    background: transparent;
}
#booking_calendar .datepicker--nav-title i{
    color:#fff;
}
#booking_calendar .datepicker--cell.datepicker--cell-day{
    background: #1dd640;
    border-radius: 50%;
    color: #fff;
}

#booking_calendar .ui-datepicker-prev span, #booking_calendar .ui-datepicker-next span {
    display:none;
}
#booking_calendar .ui-datepicker-prev:after {
    font-family: FontAwesome;
    content: "\f053";
    font-size: 1.5rem;
    cursor: pointer;
}
#booking_calendar .ui-datepicker-next:after {
    font-family: FontAwesome;
    content: "\f054";
    float: right;
    cursor: pointer;
}
#booking_calendar .ui-widget-header a{
    text-decoration: none;
    text-align: center;
}
#booking_calendar .ui-state-hover, #booking_calendar .ui-widget-content .ui-state-hover, #booking_calendar .ui-widget-header .ui-state-hover,
#booking_calendar .ui-state-focus, #booking_calendar .ui-widget-content .ui-state-focus, #booking_calendar .ui-widget-header .ui-state-focus, #booking_calendar .ui-button:hover, .ui-button:focus{
    border:0px;
}
#booking_calendar .ui-datepicker .ui-datepicker-header {
    position: relative;
    /*--background: #2e4d73;*/
    /*++*/
    background: var(--main-mid-blue);
    /*++*/
    color: #fff;
    border: 0px;
    padding: 10px 0px;
}
#booking_calendar .ui-datepicker td span, #booking_calendar .ui-datepicker td a{
    text-align: center;
    border: 0px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
}
#booking_calendar .ui-datepicker .ui-datepicker-title {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}
#booking_calendar .datepicker-calendarDescriptionReserved .ui-state-default{
    background: #f8194e;
}

.admin-menu-small {
    top: 25px;
    width: 50px;
    padding: 0 10px 15px;
}
.admin-menu-small-demo {  top: 55px; }
#toTop, .admin-menu-small {
    z-index: 1000;
    position: fixed;
}
#toTop {
    width:70px;
    background-color: rgba(50, 120, 180, 0.82);
    text-align:center;
    padding:6px;
    position:fixed;
    top:1px;
    left:0px;
    cursor:pointer;
    display:none;
    color:#FFFFFF;
    font-size: 16px;
    z-index: 1000;
}

#loading{ position: fixed; top: 5px; left: 0; z-index: 10000; background-color: #426288; font-size: 100%; color: #FFFFFF; padding: 5px 10px;}

/* search */
.search-inner {
    background: rgb(66, 98, 136);
    color: #fff;
    padding: 20px;
}
#search-form {
    color: #fff;
}
#search-form .formalabel {
    color: #FFF;
    font-size: 13px;
    padding-bottom: 3px;
    white-space: nowrap;
}
#search-form .form-control[disabled], #search-form fieldset[disabled] .form-control{
    background-color: #e0e0e0;
}
#search-form .select2-search-choice-close, #search-form .select2-arrow {
    display: none;
}
#search-form .select2-choice {
    border: none;
    background-image: none;
}
#search-form .select2-chosen {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
#search-form .select2-container.form-control {
    padding: 3px 12px;
}
#metro {
    height: 34px;
}

.SumoSelect > .CaptionCont {
    height: 42px;
    line-height: 34px;
    margin: 0 !important;
    border: 0;
    border-radius: 0;
}
/* @noflip */
.SumoSelect > .CaptionCont > span.placeholder {
    color: #444;
    margin: -2px 0;
    padding: 0 10px;
}
.SlectBox, .SumoSelect {
    width: 100% !important;
}
/* search end */

.b_entries__item img {
    width: 100%;
}
.category_title {
    margin-top: 0
}
.b_entries__item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee
}
.b_entries__item_no_src {
    min-height: 100%
}
.breadcrumb {
    background: #eceff1;
    padding: 15px 15px;
    border-radius: 0px;
}

div.flash-error, div.flash-notice, div.flash-success{ clear:both; padding:10px; margin:0 0 20px; border:2px solid #ddd; display: block;}
div.flash-error{ background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4;}
div.flash-notice{ background:#FFF6BF; color:#514721; border-color:#FFD324;}
div.flash-success{background:#E6EFC2; color:#264409;    border-color:#C6D880;}
div.flash-error a { color:#8a1f11; }
div.flash-notice a{ color:#514721; }
div.flash-success a{ color:#264409;}

#search-form .h_line { margin: 5px auto 10px; }

.min-fancy-width { max-width: 900px; overflow: hidden; }

div.translate_button, div.copylang_button {
    float: right;
}
div.translate_button{ padding-left: 3px;}

div.translate_button input, div.copylang_button input {
    background-color: #426288;
    border: 0;
    color: #fff;
    font-family: 'PT Sans Narrow',Arial,sans-serif;
    font-size: 15px;
    padding: 0 3px;
    margin: 0 0 5px 0;
    cursor: pointer;
}

.video-block {padding: 5px 0 20px 0;}
.video-html-block {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 10px;
}

.video-html-block iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-file-block {float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 10px;}
.video-js {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.manage-video-block {padding: 15px 0;}
.manage-video-item {padding-bottom: 10px;}
#update_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #CCCCCC;
    z-index: 9999;
    display: none;
    opacity: 0.5;
}

#update_overlay p {
    text-align: center;
    padding-top: 20px;
    font-size: 110%;
    font-weight: bold;
}

#fancybox-loading, #fancybox-loading, #fancybox-overlay, #fancybox-tmp, #fancybox-wrap, #fancybox-outer, #fancybox-content, #fancybox-hide-sel-frame,
#fancybox-close, #fancybox-error, #fancybox-img, #fancybox-frame, #fancybox-left, #fancybox-right, #fancybox-left-ico, #fancybox-right-ico, .fancybox-bg{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.noblock { display: inline !important; }

/*.grid-view table.items th { background: #204782; color: #fff;}*/
.grid-view table.items th, .grid-view table.items td {font-size: 0.9em; padding: 0.3em;}
.grid-view table.items tr.odd {background:#e8f3fd;}
.grid-view table.items tr.even {background:#fff;}
.grid-view table.items tbody tr:hover { background-color: #fcf7dd;}
.grid-view table.items .currency {color: #000;}


.no-disk { list-style-type: none; padding-left: 0; padding-top: 5px; margin: 2px 0;}
.no-disk li input[type="checkbox"] { display: inline; margin: 3px;}
.no-disk li label {display: inline; vertical-align: top; cursor: pointer;}

div.apartment-description-multy {padding: 10px 0 5px 0;}
div.apartment-description-item label, div.apartment-description-multy label { display: inline !important;}
div.apartment-description-item ul { padding-top: 5px;}
/*ul.apartment-description-ul, ul.article-other-ul { color: #204782;  list-style-position: outside; list-style-type: square; padding-left: 6px; padding-top: 0; }*/
ul.apartment-description-ul li, ul.article-other-ul li{ margin-top: 0px; }
ul.apartment-description-ul li > span, ul.article-other-ul li > span { color: #000000;}
body.viewlisting ul.apartment-description-ul li{ float: inherit; }
body.viewlisting ul.apartment-description-ul li a { background: none; border: none; font-weight: inherit; padding: 0; text-decoration: underline; }
ul.article-other-ul { padding-left: 15px; }
.viewapartment-subheader {font-weight: bold;}
.subheader-clickable {
    cursor: pointer;
    color: #204782;
    font: 15px 'PT Sans Narrow', Arial, sans-serif;
    height: 20px;
    margin: 0 2px;
    padding: 0 0 0 10px;
    font-weight: bold !important;
    vertical-align: top;
}
body.usercpanel div.form label, body.userads div.form label {font-weight: normal;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0;
}

.column3 {
    width: 205px;
    float: left;
    padding-bottom: 20px;
}

.column1 {
    padding-bottom: 20px;
}

/** colors default **/
.ui-datepicker .ui-datepicker-header {
    background: #204782;
}

.ui-widget-content {
    border: 1px solid #204782;
}

.index-search-form .ui-widget-content {
    border: 1px solid #022F32 !important;
}

.sf-menu li.sfHover ul {
    background: none repeat scroll 0 0 #204782 !important;
}

#userfilter ul li a:hover, #userfilter ul li.active a {
    background-color: #eff4fa;
    color: #204782 !important;
}
#userfilter ul li a {
    background-color: transparent;
    color: #204782 !important;
}

.ui-datepicker .ui-datepicker-header {background: #204782 !important;}

#cookie-bar .cb-enable {background:#204782 !important;}
#cookie-bar .cb-enable:hover {background: #3066b7 !important;}

.ui-widget-header {
    /*background: #43b3dd !important;*/
    /*++*/
    background: var(--main-light-blue) !important;
    /*++*/
}

#Apartment-form .ui-state-default, #Apartment-form .ui-widget-content .ui-state-default, #Apartment-form .ui-widget-header .ui-state-default {
    background: #204782 !important;
}

#Apartment-form .ui-state-default a, #Apartment-form .ui-state-default a:link, #Apartment-form .ui-state-default a:visited {
    color: #fff !important;
}

#Apartment-form .ui-state-active a, #Apartment-form .ui-state-active a:link, #Apartment-form .ui-state-active a:visited {
    color: #000 !important;
}

#Apartment-form .ui-state-active, #Apartment-form .ui-widget-content .ui-state-active, #Apartment-form .ui-widget-header .ui-state-active {
    background: #fff !important;
}

.seasonal-prices-add-block {width: 50%; border: 1px solid #000; border-radius: 2px; padding: 10px; min-width: 650px;}
.seasonal-prices-add-block input[disabled], .seasonal-prices-add-block input[readonly] {background-color: #fff !important; cursor: pointer !important;}

/** colors default end **/


#Apartment-form .select2-container.span3.form-control a {
    padding: 3px 5px 3px 15px !important;
    color: #555 !important;
}

.select2-container.search-input-new.searchField, .select2-container.span3.form-control {
    color: #000;
}

.select2-container.search-input-new.searchField a{
    height: 26px;
    line-height: 26px;
    background: none;
}

.select2-container.search-input-new.searchField .select2-choice{
    border: none;
}

.select2-container.search-input-new.searchField a .select2-arrow,
.select2-container.span3.form-control a .select2-arrow{
    display: none;
}

.select2-container.search-input-new.searchField.select2-container-active .select2-choice,
.select2-container.search-input-new.searchField.select2-container-active .select2-choices,
.select2-container.span3.form-control.select2-container-active .select2-choice,
.select2-container.span3.form-control.select2-container-active .select2-choices{
    border: none;
    outline: none;

    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-container.span3.form-control {
    width: 20%;
    min-width: 240px;
    border: 1px solid #AAAAAA;
    outline: none;
    height: 32px;
    line-height: 20px;
}

.select2-container.span3.form-control a {
    height: 24px;
    line-height: 20px;
    background: none;
    color: #000;
}

.select2-container.span3.form-control .select2-choice {
    color: #000;
    padding-left: 4px;
    border: none;
}

.usercpanel-listing-status,
.usercpanel-listing-owner-status {
    font-weight: bold;
}

.text-warning{color:#8a6d3b}
.text-info{color:#31708f}
.text-danger{color:#a94442}
.text-success{color:#3c763d}

.form_tip { font-size: 85%; }

#Apartment-form .form-control {
    max-width: 400px;
}

.height50 {height: 50px !important;}

.width45    {width: 45px !important;}
.width50    {width: 50px !important; min-width: 50px !important; max-width: 50px !important;}
.width70    {width: 70px !important; min-width: 70px !important; max-width: 70px !important;}
.width75    {width: 75px !important;}
.width80    {width: 80px !important;}
.width90 {width: 90px !important; min-width: 90px !important; max-width: 90px !important;}
.width96    {width: 96px !important;}
.width100   {width: 100px !important; min-width: 100px !important; max-width: 100px !important;}
.width120   {width: 120px !important;}
.width131   {width: 131px;}
.width135   {width: 135px;}
.width150   {width: 150px !important; min-width: 150px !important; max-width: 150px !important;}
.width175   {width: 175px;}
.width200   {width: 200px;}
.width240   {width: 240px;}
.width250   {width: 250px;}
.width285   {width: 285px;}
.width290   {width: 290px;}
.width300   {width: 300px;}
.width450   {width: 450px;}
.width460   {width: 460px;}
.width500 {width: 500px;}
.width960 {width: 960px;}
.height17   {height: 17px;}
.height100  {height: 100px;}
.height150  {height: 150px;}
.height200  {height: 200px;}
.height300  {height: 300px;}

/* layout */
.panorama-view {padding: 10px 0;}
.panorama,.panorama-view{width:100%; max-width: 1200px; height:500px;overflow:hidden}
.panorama,.panorama-container{position:relative}
.panorama-container img{height:100%;position:absolute;top:0}
.panorama .info,.panorama-view .area{position:absolute;display:block}
.panorama .info{right:10px;bottom:10px}

/* style */
.panorama-view{cursor:pointer;}
.panorama-view.grab{cursor:pointer;}
.panorama .info{padding:6px;opacity:0.4;background-color:#000;color:#fff;text-decoration:none}
.panorama .info:hover{opacity:0.6}
.panorama-view .area{opacity:0.2;background-color:#000;cursor:pointer}
.panorama-view .area:hover{opacity:0.4}
.panorama-view img{user-select:none;-o-user-select:none;-moz-user-select:none;-webkit-user-select:none}
.panorama-swf {padding: 10px 0;}

#gmap-panorama, .ymap-panorama {
    height: 400px;
    width: 100%;
    padding: 0;
    margin: 30px 0 0 0;
}
#gmap-panorama img {
    max-width: none !important;
}
#gmap-panorama label {
    width: auto;
    display:inline;
}
#googleMap, #ymap, #osmap {
    width: 100%;
    height: 450px;
}
#ymap-panorama ymaps[class$="button__icon"] {
    margin: 6px 0 0 6px!important;
    padding: 0px !important;
}

.gmap-marker { width: 200px; }
.gmap-marker-img { padding: 5px; min-height: 100px; text-align: center; }
.gmap-marker-img img {position: inherit !important; float: none !important; width: 100%; max-height: 150px; max-width: 150px; }
.pdg-apartment-block {padding: 0 7px; margin-bottom: 10px;}
#cookiesDisabledAlert {  overflow: hidden; }
.phone-show-alert { margin: 32px 0 20px 0 !important; }
.email a {
    color: #fff;
}

.usercpanel-right .h3 {
    margin-top: 0;
}

.title h1, .title h2, .title h3 {
    /*--border-bottom: 3px solid #e5b229;*/
    /*++*/
    border-bottom: 3px solid var(--main-golden);
    /*++*/
    display: table;
    margin: 20px auto 20px;
    padding-bottom: 8px;
}

.block-date .date_z{
    margin-right: 15px;
}
.fa-calendar{
    position: absolute;
    right: 30px;
    z-index: 999;
    font-size: 12px;
    bottom: 19px;
}
.search_inner .fa-calendar{
    bottom: 13px;
    right: 10px;
}
.booking-form .fa-calendar{
    right: 25px;
}
.date_z .fa-calendar, .date_z i{
    color:#17d856;
}
.date_v .fa-calendar, .date_v i{
    color:#d14b7b;
}

.input-login-password-with-eye {width: 246px !important; min-width: 246px !important; }
.input-password-with-eye {width: 246px !important; min-width: 246px !important;}
.hideShowPassword-toggle {border-radius: 0; height: 23px; }

.up_in_search .item_teaser_content {
    background-color: rgba(255, 255, 119, 0.33);
    /*background: none repeat scroll 0 0 rgb(255, 255, 119);*/
}

.item-small-block-rating {
    color: #fff;
    width: 65px;
    text-align: center;
}
.item-small-block-rating .item-rating-grade {
    font-size: 22px;
}
.item-small-block-rating .item-view-all-comments {
    font-size: 16px;
}
.item-small-block-rating .item-view-all-comments a {
    color: #fff;
}

/* @noflip */
.rating {
    background-color: rgba(7, 10, 11, 0.6);
    background-image: -moz-linear-gradient(center top , rgba(67, 60, 61, 0.1) 0%, rgba(7, 10, 11, 0.1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99433c3d', endColorstr='#99070a0b', GradientType=0);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-sizing: border-box;
    border-radius: 5px 0 0 0;
    position: absolute;
    width: 110px;
    height: auto;
    bottom: 0;
    right: 0;
    padding: 5px;
    direction: ltr;
    z-index: 1000;
}
/* @noflip */
.rating-item-view {
    position: relative;
    left: 423px;
    direction: ltr;
}
/* @noflip */
.rating-item-comment {
    position: relative;
    left: 0;
    direction: ltr;
}

.comment {padding: 2px 10px; background: #ffffff; margin: 3px 0; border: 1px solid #DDEBFF;}
.comment .body { margin: 10px 0; overflow:hidden;}
.comment .name {    margin: 5px 0; padding: 0 0 3px; border-bottom: 1px solid #DDD;}
.comment .date { color: #888; font-size: 0.8em; }
.comment .pending { color:red;}

#comments {
    padding-bottom: 30px;
}

#comparison_top {
    z-index: 100;
    position: fixed;
    right: 10px;
    top: 12px;
    border: 1px solid #000;
}

div.contentCompare {width:100%; margin-left: 20px; overflow-x: scroll; }
.contentCompare .h_line { margin: 0 auto 20px; }
table.compare {width: auto; border:none;}
table.compare thead tr {background-color: #FFF;}
table.compare thead td { width:250px}
table.compare thead td h3 { padding-bottom:5px}
table.compare td { border:none; vertical-align: top;}
table.compare .int {background: #fff;}
table.compare .odd {background:#e8f3fd;}
table.compare tr:hover { background-color: #fcf7dd;}
.compare-title {height: 50px; overflow: hidden; padding-bottom: 15px;}
.compare-title a { line-height: 18px;}
.compare-photo {width:160px; float:left;}
.compare-delete-icon {
    padding: 1px 3px 1px;
    position: absolute;
    width: 22px;
    height: 22px;
    color: #FFF;
    text-align: center;
    border-radius: 0 5px 0 0;
    top: 0;
}
ul.compare-description-ul { color: #333399; list-style-position: outside; list-style-type: square; padding-left: 17px; padding-top: 5px; }
ul.compare-description-ul li{ margin-top: 0px; }
ul.compare-description-ul li > span{ color: #000000;}

div.apartment_item  {
    margin-bottom: 30px;
}
#list_map_block {
    margin-bottom: 30px;
}

.vals .left {color: #FFFFFF; float: left; font-size: 13px;}
.vals .right {color: #FFFFFF; float: right; font-size: 13px;}

#search_form .col-md-3 {
    height: 70px;
}

/*.ui-datepicker {
    z-index: 101 !important;
}*/
.ui-datepicker select {
    color: #000 !important;
}

#block_btn_inner li.li-more {
    margin-top: 10px;
}
img#contact-index-captcha {
    height: 44px;
}
div.apartment_item_edit { position: absolute; right: 5px; top: 5px; z-index:100;}

.jquery-accordion-menu, .news_block.widget {
    margin-top: 20px;
}
.news_block.widget.news_block_search_inner_top {
    margin-top: 0;
}

.entries-image {
    margin-bottom: 15px;
}
.entries-tags .tags {
    position: relative;
    margin-top: 20px;
}
.entries-tags .tags a {
    background: #6193cb;
    color: #fff;
}

.b_item_aux {
    margin-top: 10px;
}

/* @noflip */
.SumoSelect > .CaptionCont, .SumoSelect > .CaptionCont > span.placeholder {cursor: pointer;}
/* @noflip */
.SumoSelect > .CaptionCont > span {color: #444 !important; padding: 0px 0 0 10px;}
/* @noflip */
.SumoSelect p.filter input {
    width: 100%;
    color: #000;
}
/* @noflip */
.SumoSelect > .optWrapper > .options,
.SumoSelect > .optWrapper > .options > li label{
    color: #000 !important;
    font-size: 14px !important;
}

.search-my-listings-form .chosen-container {width: 100% !important;}
.chosen-container-multi .chosen-choices li.search-field input[type="text"],
.chosen-container-single .chosen-choices li.search-field input[type="text"] {
    font-family: "Open Sans", sans-serif;
}

#row_agency_user_id .chosen-container {width: 250px !important; height: 34px; }

.select2-container.search-input-new.searchField, 
.select2-container.span3.form-control, 
.select2-search input, 
.select2-choice .select2-arrow b, 
.select2-results li, 
.select2-container-multi .select2-choices .select2-search-field input {
    font-family: "Open Sans", sans-serif;
}

.sumo-pos-abs .SumoSelect {position: absolute;}
/* @noflip */
.SumoSelect > .CaptionCont, .SumoSelect > .optWrapper > .options, .SumoSelect > .optWrapper,
.SumoSelect > .optWrapper > .options > li:first-child, .SumoSelect > .optWrapper > .options > li:last-child,
.SumoSelect .select-all > span i, .SumoSelect > .optWrapper > .MultiControls,
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk,
.SumoSelect > .optWrapper {border: 0;}
.optWrapper .text-filter {border-bottom: 1px solid #474747 !important; margin: 0 !important;}
.SumoSelect.disabled {opacity: 1; cursor: pointer;}
.select2-dropdown-open .select2-choice { background-color: #fff;}

#search-form .select2-container.form-control,
#search-form .select2-container.form-control a.select2-choice {
    border: none;
    transition: none;
    outline: none;

    -webkit-box-shadow: none;
    box-shadow: none;
}

.well, 
.well-sm, 
.form-control, 
.alert,
.chosen-container-single .chosen-single, 
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel, .SumoSelect .select-all { 
    border-radius: 0px;
}

.get-new-ver-code {padding: 3px 0 5px 0; display:block;}

.compare_block::after {
    clear: both;
    display: table;
    content: " ";
}

.select2-container {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.contact_footer{
    width: 100%;
    margin-top: 15px;
}

.block-afree-to-user-afreement {
    margin-bottom: 5px;
}

#contactMap {
    width: 100%;
    height: 400px;
}

div#ore-ads-block {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDEBFF;
    height: 48px;
    margin-bottom: 37px;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
   /* opacity: 0.8;*/
}

div#ore-ads-block .form-control {
    border-radius: 0px 0px 0px 0px;
    min-height: 42px;
}

div#ore-ads-block div {
    margin: 0px auto;
    width: 1215px;
}

div#ore-ads-block ul {
    list-style-type: none;
    margin: 3px 0 3px 0;
    padding-left: 7px;
    position: relative;
    right: 0;
    top: 0;
}

div#ore-ads-block ul li
{
    /* border-right: 1px solid grey;*/
    float: left;
    margin-left: 0px;
    padding-right: 12px;
    text-align: left;
    margin-bottom: 6px;
}


.center{ text-align: center; }

div#ore-ads-block .ads-block-change-template select, 
div#ore-ads-block .ads-block-change-theme select, 
div#ore-ads-block .ads-block-additional-view select {
    vertical-align: top;
    max-width: 230px;
    height: 30px;
    font-size: 14px;
}

.full-city-summary-info {
    font-size: 1.2em;
    line-height: 24px;
    padding: 15px 0;
}
.popular-block li.city_name a.active-obj-type-url {}
.popular-block li.city_name a.inactive-obj-type-url {color: #888888}
.popular-block li.city_name .obj-type-count {margin-left: 5px;}
.total_booking_cost {padding: 20px 0 0 0;}
.mst_booking_pay {padding: 10px 0 5px 0;}
.booking_calc_cost {margin-left: 10px;}

.summary-site-ads-information {margin-bottom: 20px;}
.summary-site-ads-information h2 {text-align: center; font-size: 28px;}
.summary-site-ads-information .title {margin-bottom: 10px;}
.summary-site-ads-information .item-info {float: left; position: relative; /*width: 30%;*/ margin: 10px;}
.summary-site-ads-information .item-info h3 {margin: 0 0 5px 0;}
.full-city-summary-info {
    /*font-size: 1.2em;*/
    line-height: 24px;
    padding: 15px 0;
}

.summary-site-ads-information .box-heading {margin: 0;}
.summary-site-ads-information .summary-info-obj-types li a {/*font-size: 16px; line-height: 20px;*/}
.summary-site-ads-information .summary-info-obj-types li a.active-obj-type-url {}
.summary-site-ads-information .summary-info-obj-types li a.inactive-obj-type-url {color: #888888}
.summary-site-ads-information .summary-info-obj-types li .obj-type-count {margin-left: 5px;}
.summary-site-ads-information img {max-width: 100%;}

#mapWarningBox, #mapLoadingBox{
    background-color: #fefccb;
    font-size: 20px;
    line-height: 20px;
    left: 23%;
    opacity: 0.8;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 50%;
    z-index: 5000;
}
#mapLoadingBox {
    left: 0%;
    width: 100%;
    z-index: 4999;
}

#bookings-db input,
#bookings-db select {
    display: inline;
}

#bookings-db input.width90 {
    width: 110px !important;
    max-width: 110px !important;
}


.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}

.special_offer_tr { background-color: #DDEBFF !important; }

span.email a {color: #333;}
.contact_footer span.email a {color: #fff;}


.view-all-on-map-widget .row#ymap,
.view-all-on-map-widget .row#gmap, 
.view-all-on-map-widget .row#googleMap,
.view-all-on-map-widget .row#osmap {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.main-table-additional-tab > tbody > tr > td{
	border-top: none;
}
/*++*/
/*** Golden Ring Classes & Ids */

/*Contacts @ header*/
.gr-contacts {
    margin-top: 25px;
    margin-bottom: 25px;
}
.gr-contacts__address {
    font-size: 1.6rem;
    color: #f3cb6a;
    margin-bottom: 20px;
}
.gr-contacts__phone {
    font-size: 1.8rem;
    color: #FFFFFF;
}

/*Navbar behind logo*/
#main_menu_nav_3 > li {
    float: none;
}
#main_menu_nav_3 > li > a {
    font-size: 1.2rem;
}

/*Search*/
.search_index {
    margin-top: 0px;
}
/*++*/