.header_bottom{
    background: url(../images/header_bg.jpg) no-repeat 0px 0px;
}
div.logo a {
    /*--background: url('../images/logo-open-ore-bg.png') no-repeat 77px top;*/
}
div.logo_footer .logo a {
    /*--background: url('../images/logo-open-ore-bg-white.png') no-repeat 77px top;*/
}

.slider__img {
  background: url("../images/ajax-loader.gif") no-repeat center center;
}

.slider--wide .slider__img {
  background: url("../images/ajax-loader.gif") no-repeat center center;
}

.slider--dots .slider__img {
  background: url("../images/ajax-loader.gif") no-repeat center center;
}

.slick-loading .slick-list {
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

.entries-image img {
    max-width: 400px;
    width: 100%;
}
/*++*/
/*** Golden Ring Classes & Ids */
.gr-tab_header {
    background-image: url("../images/tab_header_bg.png");
}
/*++*/